<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RestartAction</string>
	<string>RequireLogout</string>
	<key>autoremove</key>
	<false/>
	<key>blocking_applications</key>
	<array>
		<string>Firefox</string>
		<string>Google Chrome.app</string>
		<string>Microsoft Communicator.app</string>
		<string>Microsoft Document Connection.app</string>
		<string>Microsoft Excel.app</string>
		<string>Microsoft Messenger.app</string>
		<string>Microsoft Outlook.app</string>
		<string>Microsoft PowerPoint.app</string>
		<string>Microsoft Word.app</string>
		<string>Opera</string>
		<string>Safari</string>
	</array>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>description</key>
	<string></string>
	<key>display_name</key>
	<string>Office 2011 Update</string>
	<key>installed_size</key>
	<integer>335707</integer>
	<key>installer_choices_xml</key>
	<array>
		<dict>
			<key>attributeSetting</key>
			<integer>0</integer>
			<key>choiceAttribute</key>
			<string>selected</string>
			<key>choiceIdentifier</key>
			<string>quit</string>
		</dict>
	</array>
	<key>installer_item_hash</key>
	<string>13e38936947d6245996b62b1ce959f804a5e479d8a1d9cafeea146a547039925</string>
	<key>installer_item_location</key>
	<string>apps/Office2011/Office2011-1432UpdateEN-14.3.2.dmg</string>
	<key>installer_item_size</key>
	<integer>115457</integer>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleShortVersionString</key>
			<string>14.3.2</string>
			<key>path</key>
			<string>/Applications/Microsoft Office 2011/Microsoft Word.app</string>
			<key>type</key>
			<string>application</string>
		</dict>
		<dict>
			<key>CFBundleShortVersionString</key>
			<string>14.3.2</string>
			<key>path</key>
			<string>/Applications/Microsoft Office 2011/Microsoft Excel.app</string>
			<key>type</key>
			<string>application</string>
		</dict>
		<dict>
			<key>CFBundleShortVersionString</key>
			<string>14.3.2</string>
			<key>path</key>
			<string>/Applications/Microsoft Office 2011/Microsoft PowerPoint.app</string>
			<key>type</key>
			<string>application</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.6.0</string>
	<key>name</key>
	<string>Office2011_Update</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>11241</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.automator.pkg.14.3.2.update</string>
			<key>version</key>
			<string>14.3.2</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>140872</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.core.pkg.14.3.2.update</string>
			<key>version</key>
			<string>14.3.2</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>614</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.dcc.pkg.14.3.2.update</string>
			<key>version</key>
			<string>14.3.2</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>6</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.equationeditor.pkg.14.3.2.update</string>
			<key>version</key>
			<string>14.3.2</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>27591</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.excel.pkg.14.3.2.update</string>
			<key>version</key>
			<string>14.3.2</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>0</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.fix_permissions.pkg.14.3.2</string>
			<key>version</key>
			<string>14.3.2</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>3604</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.graph.pkg.14.3.2.update</string>
			<key>version</key>
			<string>14.3.2</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>22409</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.ooxml.pkg.14.3.2.update</string>
			<key>version</key>
			<string>14.3.2</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>24315</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.outlook.pkg.14.3.2.update</string>
			<key>version</key>
			<string>14.3.2</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>19378</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.powerpoint.pkg.14.3.2.update</string>
			<key>version</key>
			<string>14.3.2</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>389</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.proofing_brazilian.pkg.14.3.2.update</string>
			<key>version</key>
			<string>14.3.2</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>389</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.proofing_catalan.pkg.14.3.2.update</string>
			<key>version</key>
			<string>14.3.2</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>389</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.proofing_czech.pkg.14.3.2.update</string>
			<key>version</key>
			<string>14.3.2</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>389</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.proofing_danish.pkg.14.3.2.update</string>
			<key>version</key>
			<string>14.3.2</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>389</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.proofing_dutch.pkg.14.3.2.update</string>
			<key>version</key>
			<string>14.3.2</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>1837</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.proofing_english.pkg.14.3.2.update</string>
			<key>version</key>
			<string>14.3.2</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>7</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.proofing_finnish.pkg.14.3.2.update</string>
			<key>version</key>
			<string>14.3.2</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>1376</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.proofing_french.pkg.14.3.2.update</string>
			<key>version</key>
			<string>14.3.2</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>1881</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.proofing_german.pkg.14.3.2.update</string>
			<key>version</key>
			<string>14.3.2</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>389</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.proofing_italian.pkg.14.3.2.update</string>
			<key>version</key>
			<string>14.3.2</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>1783</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.proofing_italian_grammar.pkg.14.3.2.update</string>
			<key>version</key>
			<string>14.3.2</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>286</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.proofing_japanese.pkg.14.3.2.update</string>
			<key>version</key>
			<string>14.3.2</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>776</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.proofing_norwegian.pkg.14.3.2.update</string>
			<key>version</key>
			<string>14.3.2</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>389</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.proofing_polish.pkg.14.3.2.update</string>
			<key>version</key>
			<string>14.3.2</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>390</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.proofing_portuguese.pkg.14.3.2.update</string>
			<key>version</key>
			<string>14.3.2</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>389</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.proofing_russian.pkg.14.3.2.update</string>
			<key>version</key>
			<string>14.3.2</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>391</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.proofing_spanish.pkg.14.3.2.update</string>
			<key>version</key>
			<string>14.3.2</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>391</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.proofing_swedish.pkg.14.3.2.update</string>
			<key>version</key>
			<string>14.3.2</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>389</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.proofing_turkish.pkg.14.3.2.update</string>
			<key>version</key>
			<string>14.3.2</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>0</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.quit.pkg.14.3.2.update</string>
			<key>version</key>
			<string>14.3.2</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>241</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.sharepointbrowserplugin.pkg.14.3.2.update</string>
			<key>version</key>
			<string>14.3.2</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>5497</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.vb.pkg.14.3.2.update</string>
			<key>version</key>
			<string>14.3.2</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>36828</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.word.pkg.14.3.2.update</string>
			<key>version</key>
			<string>14.3.2</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>55</integer>
			<key>packageid</key>
			<string>com.microsoft.office.en.automator_workflow.pkg.14.3.2.update</string>
			<key>version</key>
			<string>14.3.2</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>7</integer>
			<key>packageid</key>
			<string>com.microsoft.office.en.clipart.pkg.14.3.2.update</string>
			<key>version</key>
			<string>14.3.2</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>12634</integer>
			<key>packageid</key>
			<string>com.microsoft.office.en.core_resources.pkg.14.3.2.update</string>
			<key>version</key>
			<string>14.3.2</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>308</integer>
			<key>packageid</key>
			<string>com.microsoft.office.en.dcc_resources.pkg.14.3.2.update</string>
			<key>version</key>
			<string>14.3.2</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>35</integer>
			<key>packageid</key>
			<string>com.microsoft.office.en.equationeditor_resources.pkg.14.3.2.update</string>
			<key>version</key>
			<string>14.3.2</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>1855</integer>
			<key>packageid</key>
			<string>com.microsoft.office.en.excel_resources.pkg.14.3.2.update</string>
			<key>version</key>
			<string>14.3.2</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>180</integer>
			<key>packageid</key>
			<string>com.microsoft.office.en.excel_templates.pkg.14.3.2.update</string>
			<key>version</key>
			<string>14.3.2</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>25</integer>
			<key>packageid</key>
			<string>com.microsoft.office.en.graph_resources.pkg.14.3.2.update</string>
			<key>version</key>
			<string>14.3.2</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>27</integer>
			<key>packageid</key>
			<string>com.microsoft.office.en.langregister.pkg.14.3.2.update</string>
			<key>version</key>
			<string>14.3.2</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>5317</integer>
			<key>packageid</key>
			<string>com.microsoft.office.en.outlook_resources.pkg.14.3.2.update</string>
			<key>version</key>
			<string>14.3.2</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>11</integer>
			<key>packageid</key>
			<string>com.microsoft.office.en.outlook_scriptmenuitems.pkg.14.3.2.update</string>
			<key>version</key>
			<string>14.3.2</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>771</integer>
			<key>packageid</key>
			<string>com.microsoft.office.en.powerpoint_resources.pkg.14.3.2.update</string>
			<key>version</key>
			<string>14.3.2</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>6649</integer>
			<key>packageid</key>
			<string>com.microsoft.office.en.query.pkg.14.3.2.update</string>
			<key>version</key>
			<string>14.3.2</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>4</integer>
			<key>packageid</key>
			<string>com.microsoft.office.en.readme.pkg.14.3.2.update</string>
			<key>version</key>
			<string>14.3.2</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>4</integer>
			<key>packageid</key>
			<string>com.microsoft.office.en.sharepointbrowserplugin_resources.pkg.14.3.2.update</string>
			<key>version</key>
			<string>14.3.2</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>858</integer>
			<key>packageid</key>
			<string>com.microsoft.office.en.solver.pkg.14.3.2.update</string>
			<key>version</key>
			<string>14.3.2</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>1724</integer>
			<key>packageid</key>
			<string>com.microsoft.office.en.word_resources.pkg.14.3.2.update</string>
			<key>version</key>
			<string>14.3.2</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>28</integer>
			<key>packageid</key>
			<string>com.microsoft.office.en.word_wizards.pkg.14.3.2.update</string>
			<key>version</key>
			<string>14.3.2</string>
		</dict>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>update_for</key>
	<array>
		<string>Office2011</string>
		<string>Office2011_Lab</string>
	</array>
	<key>version</key>
	<string>14.3.2</string>
</dict>
</plist>
