<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>tsutton</string>
		<key>creation_date</key>
		<date>2015-05-12T18:08:19Z</date>
		<key>munki_version</key>
		<string>2.2.4.2469</string>
		<key>os_version</key>
		<string>10.10.3</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>blocking_applications</key>
	<array>
		<string>MSN Messenger</string>
		<string>Microsoft AutoUpdate</string>
		<string>Microsoft Cert Manager</string>
		<string>Microsoft Chart Converter</string>
		<string>Microsoft Clip Gallery</string>
		<string>Microsoft Entourage</string>
		<string>Microsoft Outlook</string>
		<string>Microsoft Error Reporting</string>
		<string>Microsoft Excel</string>
		<string>Microsoft Graph</string>
		<string>Microsoft Help Viewer</string>
		<string>Microsoft Language Register</string>
		<string>Microsoft Communicator</string>
		<string>Microsoft Messenger</string>
		<string>Microsoft PowerPoint</string>
		<string>Microsoft Query</string>
		<string>Microsoft Word</string>
		<string>My Day</string>
		<string>Organization Chart</string>
		<string>Expression Media</string>
		<string>Remote Desktop Connection</string>
		<string>Opera</string>
		<string>Google Chrome</string>
		<string>Firefox</string>
		<string>Safari</string>
	</array>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>category</key>
	<string>Productivity</string>
	<key>description</key>
	<string>&lt;html&gt;&lt;p&gt;This update fixes critical issues and also helps to improve security. It includes fixes for vulnerabilities that an attacker can use to overwrite the contents of your computer's memory with malicious code.&lt;/p&gt;

&lt;p&gt;For detailed information about this update, please visit the following Web site: &lt;a href="http://go.microsoft.com/fwlink/?LinkID=533191" target="_blank"&gt;http://go.microsoft.com/fwlink/?LinkID=533191&lt;/a&gt;&lt;/p&gt;

&lt;p&gt;For additional assistance, or to obtain a downloadable version of this update, visit the &lt;a href="http://go.microsoft.com/fwlink/?LinkId=216459" target="_blank"&gt;Microsoft Web site&lt;/a&gt;.&lt;/p&gt;&lt;/html&gt;</string>
	<key>developer</key>
	<string>Microsoft</string>
	<key>display_name</key>
	<string>Office 2011 14.5.0 Update</string>
	<key>installed_size</key>
	<integer>339304</integer>
	<key>installer_item_hash</key>
	<string>4fa65ad8c4718845ee779ffdba2d79763c8932cb0a4f4a449c303237ee1238c1</string>
	<key>installer_item_location</key>
	<string>apps/Office2011/Office2011-1450Update_EN-US-14.5.0.dmg</string>
	<key>installer_item_size</key>
	<integer>116341</integer>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleShortVersionString</key>
			<string>14.5.0</string>
			<key>CFBundleVersion</key>
			<string>14.5.0</string>
			<key>path</key>
			<string>/Applications/Microsoft Office 2011/Office/MicrosoftComponentPlugin.framework</string>
			<key>type</key>
			<string>bundle</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.5.8</string>
	<key>name</key>
	<string>Office2011_Update</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>0</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.quit.pkg.14.5.0.update</string>
			<key>version</key>
			<string>14.5.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>4</integer>
			<key>packageid</key>
			<string>com.microsoft.office.en.readme.pkg.14.5.0.update</string>
			<key>version</key>
			<string>14.5.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>12669</integer>
			<key>packageid</key>
			<string>com.microsoft.office.en.core_resources.pkg.14.5.0.update</string>
			<key>version</key>
			<string>14.5.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>22455</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.ooxml.pkg.14.5.0.update</string>
			<key>version</key>
			<string>14.5.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>7</integer>
			<key>packageid</key>
			<string>com.microsoft.office.en.clipart.pkg.14.5.0.update</string>
			<key>version</key>
			<string>14.5.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>35</integer>
			<key>packageid</key>
			<string>com.microsoft.office.en.equationeditor_resources.pkg.14.5.0.update</string>
			<key>version</key>
			<string>14.5.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>25</integer>
			<key>packageid</key>
			<string>com.microsoft.office.en.graph_resources.pkg.14.5.0.update</string>
			<key>version</key>
			<string>14.5.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>33</integer>
			<key>packageid</key>
			<string>com.microsoft.office.en.langregister.pkg.14.5.0.update</string>
			<key>version</key>
			<string>14.5.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>5</integer>
			<key>packageid</key>
			<string>com.microsoft.office.en.sharepointbrowserplugin_resources.pkg.14.5.0.update</string>
			<key>version</key>
			<string>14.5.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>1805</integer>
			<key>packageid</key>
			<string>com.microsoft.office.en.word_resources.pkg.14.5.0.update</string>
			<key>version</key>
			<string>14.5.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>33</integer>
			<key>packageid</key>
			<string>com.microsoft.office.en.word_wizards.pkg.14.5.0.update</string>
			<key>version</key>
			<string>14.5.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>1904</integer>
			<key>packageid</key>
			<string>com.microsoft.office.en.excel_resources.pkg.14.5.0.update</string>
			<key>version</key>
			<string>14.5.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>180</integer>
			<key>packageid</key>
			<string>com.microsoft.office.en.excel_templates.pkg.14.5.0.update</string>
			<key>version</key>
			<string>14.5.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>6649</integer>
			<key>packageid</key>
			<string>com.microsoft.office.en.query.pkg.14.5.0.update</string>
			<key>version</key>
			<string>14.5.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>858</integer>
			<key>packageid</key>
			<string>com.microsoft.office.en.solver.pkg.14.5.0.update</string>
			<key>version</key>
			<string>14.5.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>890</integer>
			<key>packageid</key>
			<string>com.microsoft.office.en.powerpoint_resources.pkg.14.5.0.update</string>
			<key>version</key>
			<string>14.5.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>5359</integer>
			<key>packageid</key>
			<string>com.microsoft.office.en.outlook_resources.pkg.14.5.0.update</string>
			<key>version</key>
			<string>14.5.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>11</integer>
			<key>packageid</key>
			<string>com.microsoft.office.en.outlook_scriptmenuitems.pkg.14.5.0.update</string>
			<key>version</key>
			<string>14.5.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>405</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.proofing_catalan.pkg.14.5.0.update</string>
			<key>version</key>
			<string>14.5.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>405</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.proofing_danish.pkg.14.5.0.update</string>
			<key>version</key>
			<string>14.5.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>405</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.proofing_dutch.pkg.14.5.0.update</string>
			<key>version</key>
			<string>14.5.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>1858</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.proofing_english.pkg.14.5.0.update</string>
			<key>version</key>
			<string>14.5.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>7</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.proofing_finnish.pkg.14.5.0.update</string>
			<key>version</key>
			<string>14.5.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>1399</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.proofing_french.pkg.14.5.0.update</string>
			<key>version</key>
			<string>14.5.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>1903</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.proofing_german.pkg.14.5.0.update</string>
			<key>version</key>
			<string>14.5.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>405</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.proofing_italian.pkg.14.5.0.update</string>
			<key>version</key>
			<string>14.5.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>1783</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.proofing_italian_grammar.pkg.14.5.0.update</string>
			<key>version</key>
			<string>14.5.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>292</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.proofing_japanese.pkg.14.5.0.update</string>
			<key>version</key>
			<string>14.5.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>808</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.proofing_norwegian.pkg.14.5.0.update</string>
			<key>version</key>
			<string>14.5.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>406</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.proofing_portuguese.pkg.14.5.0.update</string>
			<key>version</key>
			<string>14.5.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>405</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.proofing_brazilian.pkg.14.5.0.update</string>
			<key>version</key>
			<string>14.5.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>407</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.proofing_spanish.pkg.14.5.0.update</string>
			<key>version</key>
			<string>14.5.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>407</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.proofing_swedish.pkg.14.5.0.update</string>
			<key>version</key>
			<string>14.5.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>405</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.proofing_czech.pkg.14.5.0.update</string>
			<key>version</key>
			<string>14.5.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>405</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.proofing_polish.pkg.14.5.0.update</string>
			<key>version</key>
			<string>14.5.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>405</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.proofing_russian.pkg.14.5.0.update</string>
			<key>version</key>
			<string>14.5.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>405</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.proofing_turkish.pkg.14.5.0.update</string>
			<key>version</key>
			<string>14.5.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>401</integer>
			<key>packageid</key>
			<string>com.microsoft.office.en.dcc_resources.pkg.14.5.0.update</string>
			<key>version</key>
			<string>14.5.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>241</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.fonts.pkg.14.5.0.update</string>
			<key>version</key>
			<string>14.5.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>11241</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.automator.pkg.14.5.0.update</string>
			<key>version</key>
			<string>14.5.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>55</integer>
			<key>packageid</key>
			<string>com.microsoft.office.en.automator_workflow.pkg.14.5.0.update</string>
			<key>version</key>
			<string>14.5.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>6</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.equationeditor.pkg.14.5.0.update</string>
			<key>version</key>
			<string>14.5.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>3622</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.graph.pkg.14.5.0.update</string>
			<key>version</key>
			<string>14.5.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>242</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.sharepointbrowserplugin.pkg.14.5.0.update</string>
			<key>version</key>
			<string>14.5.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>36956</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.word.pkg.14.5.0.update</string>
			<key>version</key>
			<string>14.5.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>27716</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.excel.pkg.14.5.0.update</string>
			<key>version</key>
			<string>14.5.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>19512</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.powerpoint.pkg.14.5.0.update</string>
			<key>version</key>
			<string>14.5.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>24693</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.outlook.pkg.14.5.0.update</string>
			<key>version</key>
			<string>14.5.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>5524</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.vb.pkg.14.5.0.update</string>
			<key>version</key>
			<string>14.5.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>632</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.dcc.pkg.14.5.0.update</string>
			<key>version</key>
			<string>14.5.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>0</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.fix_permissions.pkg.14.5.0</string>
			<key>version</key>
			<string>14.5.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>142626</integer>
			<key>packageid</key>
			<string>com.microsoft.office.all.core.pkg.14.5.0.update</string>
			<key>version</key>
			<string>14.5.0</string>
		</dict>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>update_for</key>
	<array>
		<string>Office2011</string>
		<string>Office2011_Lab</string>
	</array>
	<key>version</key>
	<string>14.5.0</string>
</dict>
</plist>
